In [1]:
# Import our dependencies
import pandas as pd
import numpy as np
import config as creds
import psycopg2
from sqlalchemy import create_engine

In [2]:
# Import our input dataset for FL registrations income
FL_df = pd.read_csv('Resources/fl_ev_registrations_public.csv')
FL_df.head()

,DMV ID,DMV Snapshot (Date),County,Vehicle Name,Registration Valid Date,Registration Expiration Date,Technology
0,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV
1,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV
2,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV
3,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV
4,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV

In [13]:
# keeping relevant columns
FL_df = FL_df[['County',"Registration Valid Date","Vehicle Name"]]
FL_df.columns = ['County', 'Registration_Valid_Date', 'Vehicle_Name']
FL_df

          County Registration_Valid_Date                Vehicle_Name
0           Dade              2018-06-30               Tesla Model X
1           Dade              2018-06-30               Tesla Model X
2           Dade              2018-06-30               Tesla Model X
3           Dade              2018-06-30               Tesla Model X
4           Dade              2018-06-30               Tesla Model X
...          ...                     ...                         ...
353969      Dade              2021-07-19  Porsche Cayenne S E-Hybrid
353970  Seminole              2021-07-19  Porsche Cayenne S E-Hybrid
353971   Unknown              2021-07-19  Porsche Cayenne S E-Hybrid
353972   Broward              2021-07-19  Porsche Cayenne S E-Hybrid
353973       Lee              2021-07-19  Porsche Cayenne S E-Hybrid

[353974 rows x 3 columns]

In [4]:
FL_df["Registration Valid Date"] = pd.to_datetime(FL_df["Registration Valid Date"])

In [5]:
FL_df.dtypes

County                             object
Registration Valid Date    datetime64[ns]
Vehicle Name                       object
dtype: object

In [6]:
db_string = f"postgresql://{creds.PGUSER}:{creds.PGPASSWORD}@{creds.PGHOST}:5432/{creds.PGDATABASE}"
engine = create_engine(db_string)
conn = engine.connect()

In [14]:
FL_df.to_sql(name='ev_registration', con=conn, if_exists='append')