In [1]:
# Import our dependencies
import pandas as pd
import numpy as np
import config as creds
import psycopg2
from sqlalchemy import create_engine

In [2]:
# Import our input dataset for FL registrations income
FL_df = pd.read_csv('Resources/fl_ev_registrations_public.csv')
FL_df.head()

,DMV ID,DMV Snapshot (Date),County,Vehicle Name,Registration Valid Date,Registration Expiration Date,Technology
0,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV
1,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV
2,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV
3,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV
4,1,Registration Data from FPL (6/30/2018),Dade,Tesla Model X,6/30/2018,NaN,BEV

In [3]:
# keeping/adding relevant columns and renaming the columns
FL_df["statecode_of_county"] = "FL"
FL_df = FL_df[['statecode_of_county','County',"Registration Valid Date","Vehicle Name"]]
FL_df.columns = ['statecode_of_county','county', 'registration_date', 'vehicle_name']
FL_df

,statecode_of_county,county,registration_date,vehicle_name
0,FL,Dade,6/30/2018,Tesla Model X
1,FL,Dade,6/30/2018,Tesla Model X
2,FL,Dade,6/30/2018,Tesla Model X
3,FL,Dade,6/30/2018,Tesla Model X
4,FL,Dade,6/30/2018,Tesla Model X
...,...,...,...,...
353969,FL,Dade,7/19/2021,Porsche Cayenne S E-Hybrid
353970,FL,Seminole,7/19/2021,Porsche Cayenne S E-Hybrid
353971,FL,Unknown,7/19/2021,Porsche Cayenne S E-Hybrid
353972,FL,Broward,7/19/2021,Porsche Cayenne S E-Hybrid
353973,FL,Lee,7/19/2021,Porsche Cayenne S E-Hybrid

In [4]:
# dropping rows where county is not available
FL_df = FL_df.dropna(subset=['county'])

In [5]:
# changing datatype of registration date
FL_df["registration_date"] = pd.to_datetime(FL_df["registration_date"])

In [6]:
FL_df.dtypes

statecode_of_county            object
county                         object
registration_date      datetime64[ns]
vehicle_name                   object
dtype: object

In [7]:
db_string = f"postgresql://{creds.PGUSER}:{creds.PGPASSWORD}@{creds.PGHOST}:5432/{creds.PGDATABASE}"
engine = create_engine(db_string)
conn = engine.connect()

In [9]:
FL_df.to_sql(name='ev_registration', con=conn, if_exists='append', index=False)

In [ ]:
# df = pd.read_sql("select * from household_income", conn)
# df

In [ ]:
# TO_DO
# work on inserting CA data