In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv(Path('Resources/counts_per_county_capita21.csv'))
df.head()

,statecode_of_county,county,per_capita_income_2021,vehicle_cnt,station_cnt
0,CA,Alameda,99746,192172,792
1,CA,Alpine,72734,38,5
2,CA,Amador,49752,768,12
3,CA,Butte,54694,3423,30
4,CA,Calaveras,57726,999,5

In [3]:
df = df[['per_capita_income_2021','vehicle_cnt','station_cnt']]
df

     per_capita_income_2021  vehicle_cnt  station_cnt
0                     99746       192172          792
1                     72734           38            5
2                     49752          768           12
3                     54694         3423           30
4                     57726          999            5
..                      ...          ...          ...
394                   50210         1919            6
395                   59952           62            1
396                   62931        37390           65
397                   55762          942            1
398                   53871         1531            1

[399 rows x 3 columns]

In [4]:
scaled = StandardScaler().fit_transform(df)
#Transform scaled data to a dataframe
scaled_df = pd.DataFrame(data=scaled, columns=['per_capita_income_2021', 'vehicle_cnt','station_cnt'])
scaled_df.head()

   per_capita_income_2021  vehicle_cnt  station_cnt
0                2.250321     3.884620     3.062371
1                0.805847    -0.283040    -0.246706
2               -0.423121    -0.267205    -0.217273
3               -0.158846    -0.209615    -0.141589
4                0.003291    -0.262195    -0.246706

In [5]:
#Extracting Independent and dependent Variable  
x= scaled_df.iloc[:, :-1].values  
y= scaled_df.iloc[:, 2].values

In [17]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.6, random_state=0)

In [18]:
regressor= LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression()

In [19]:
#Predicting the Test set result;  
y_pred= regressor.predict(x_test)

In [20]:
print('Train Score: ', regressor.score(x_train, y_train))  
print('Test Score: ', regressor.score( x_test, y_test))

Train Score:  0.8091387123783973
Test Score:  0.8873983166315902

In [21]:
 #function that returns Coefficient of Determination.
import math
def CoefficientDetermination(X, Y, n) :
    sum_X = 0
    sum_Y = 0
    sum_XY = 0
    squareSum_X = 0
    squareSum_Y = 0
     
     
    i = 0
    while i < n :
        # sum of elements of array X.
        sum_X = sum_X + X[i]
         
        # sum of elements of array Y.
        sum_Y = sum_Y + Y[i]
         
        # sum of X[i] * Y[i].
        sum_XY = sum_XY + X[i] * Y[i]
         
        # sum of square of array elements.
        squareSum_X = squareSum_X + X[i] * X[i]
        squareSum_Y = squareSum_Y + Y[i] * Y[i]
         
        i = i + 1
      
    # use formula for calculating correlation
    # coefficient.
    corr = (float)(n * sum_XY - sum_X * sum_Y)/(float)(math.sqrt((n * squareSum_X -sum_X * sum_X)* (n * squareSum_Y - sum_Y * sum_Y)))
    return corr * corr

In [22]:
# Find the size of array.
n = len(y_test)

print ("Coefficient of Determination: ")
# Function call to CoefficientDetermination.
print ('{0:.6f}'.format(CoefficientDetermination(y_test, y_pred, n)))

Coefficient of Determination:
0.932543